*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
   
    
}
html{
    font-size: calc(1em+1vw);
}
.animates{
	-webkit-animation:animates 1s cubic-bezier(0.2, 0.6, 0.2, 1);
	
	animation:animates 1s cubic-bezier(0.2, 0.6, 0.2, 1);
	-webkit-animation-fill-mode:backwards;
	-moz-animation-fill-mode:backwards;
	animation-fill-mode:backwards;
}


@-webkit-keyframes animates {
	0% {opacity: 0;-webkit-transform: translateY(100%);}
	100% {opacity: 1;-webkit-transform: translateY(0%);}	
}

@keyframes animates {
	0% {opacity: 0;transform: translateY(30vh);} /* WORK ON THISSS! */
/* 	0% {transform: translateY(100%);} */
	100% {opacity: 1;transform: translateY(0%);}	
}
.delay04 { -webkit-animation-delay: .4s; animation-delay: .4s;}

.delay08 { -webkit-animation-delay: .8s; animation-delay: .8s;}


p{
font: 1.5rem sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.text-color-red{
    color: red;
}

a, a:after, a:visited {
	text-decoration: none;
	cursor: pointer;
	color: #000000;	
}
.logo{
    position: fixed;
    float: right;
    right: 10%;
    top: 8%;
    z-index: 999;
    font-size: 1.5rem;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
    
}
.logo:after{
    content: 'sameeksha';
   color: white;
   cursor: pointer;
}
.logo:hover:after{
    content: 'sameeksha.home';
    color: red;
    
}


.top-bottom-margin {
    margin: 40vh 0 20vh 0;
    margin: 35vh 0 20vh 0;
    margin: 35vh 0 30vh 0;
} 
.work-block {
    margin: 12vh ;
    margin-left: 20vw;
}

        @media screen and (max-width: 767px) {
            .work-block {
                margin-top: 10vh 0;
            }
        }


        .on-hover-40, .on-hover--40 {
            transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
        }
        .on-hover-40:hover {
            margin-left: 400px;
            transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);	
        }
        @media screen and (max-width: 767px) {
            .on-hover-40:hover {
                margin-left: 0px;	
            }
        }

        p {
            line-height: 170%;
            font-family:'Regular';
            font-size: 18px;
            margin-bottom: 3vh;
            font: 1.5rem sans-serif;
    
        }
        
        p.size-small {
            font-family: "Medium";
            font-size: 22px;
            margin-bottom: 0;
        }
                @media screen and (max-width: 767px) {
                    p.size-small {
                    font-size: 25px;
                    }
                }     
                
                
                h2 {
                    font-family:'Baloo Bhai 2', cursive;
                    line-height: 140%;
                    font-size: 300px;
                    font-size: 6em;

                }
                .text-color-white{
                    color: white;
                }